Question 1: The Road Trip Planner
Given:
Fuel efficiency = 11.5 km/l

Trip distance = 475 km

Fuel price = $1.65/l

Tank capacity = 50 l

a. Liters of fuel needed

In [1]:
distance = 475
efficiency = 11.5

fuel_needed = distance / efficiency
print(fuel_needed)

41.30434782608695

Explanation:
We divide the distance by fuel efficiency: 475 / 11.5.

b. Full tanks required

In [2]:
tank_capacity = 50

full_tanks = fuel_needed // tank_capacity
print(full_tanks)

0.0

Explanation:
// is the floor division operator. One tank is enough; it gives 0 full additional tanks needed after the initial full tank.

c. Total fuel cost

In [3]:
fuel_price = 1.65

total_cost = fuel_needed * fuel_price
print(total_cost)

68.15217391304347

Explanation:
Multiply fuel needed by price per liter.

d. Liters of fuel remaining

In [4]:
remaining_fuel = tank_capacity - fuel_needed
print(remaining_fuel)

8.695652173913047

Explanation:
Subtract fuel used from the full tank to get what’s left.

Section 2: Comparison & Logical Operators
Question 2: Theme Park Entry Rules

a. Boolean Expression

In [5]:
age = 30
is_weekday = True
is_family_day = False
group_size = 3

gets_discount = ((age <= 12 and is_weekday) or (age >= 65) or (is_family_day and group_size >= 4))
print(gets_discount)

False

Explanation:

Not a child or senior.

Not a family day with 4+ group members

b. New variables

In [6]:
age = 10
is_weekday = True
is_family_day = False
group_size = 2

gets_discount = ((age <= 12 and is_weekday) or (age >= 65) or (is_family_day and group_size >= 4))
print(gets_discount)

True

c. Evaluation Explanation:

age <= 12 → True

is_weekday → True

So (age <= 12 and is_weekday) → True

Other conditions are not evaluated further due to short-circuiting or.

Section 3: String Data Types, Indexing & Slicing

In [7]:
secret_message = "PyThoN_Is_FuN_AnD_PoWeRfUl!"

a. Character at index 5

In [8]:
print(secret_message[5])

N

b. Substring "Is_FuN"

In [9]:
substring = secret_message[7:13]
print(substring)

Is_FuN

c. Substring "PoWeRfUl" using negative indexing

In [10]:
print(secret_message[-9:-1])

PoWeRfUl

d. Every 4th character

In [12]:
every_4th = secret_message[0::4]
print(every_4th)

PosNDWU

e. Accessing index 50

In [13]:
print(secret_message[50])

IndexError: string index out of range

Explanation:
secret_message has only 26 characters. Index 50 is out of range.

Section 4: Boolean Values & Expressions

In [14]:
x = 15
y = 25
z = 15
text = "adventure"

a. (x == z) and (y > x)

In [15]:
print((x == z) and (y > x))  # Predict: True

True

b. (x != z) or (y < x) or (len(text) < 5)

In [16]:
print((x != z) or (y < x) or (len(text) < 5))  # Predict: False

False

c. not ((x > y) and (text == "Adventure"))

In [17]:
print(not ((x > y) and (text == "Adventure")))  # Predict: True

True

Explanation:

x > y is False → False and ... → False

not False → True

Section 5: String Properties & Methods
a. username[0] = 'm'

In [18]:
username = "MyUser123"
username[0] = 'm'  # Raises error

TypeError: 'str' object does not support item assignment

Explanation:
Strings are immutable in Python; you cannot change characters by index.

b. Transform the quote

In [19]:
quote = " practice makes perfect "

formatted_quote = quote.strip().upper().replace("PERFECT", "PROGRESS")
print(formatted_quote)

PRACTICE MAKES PROGRESS

Explanation:

strip() removes whitespace

upper() converts to uppercase

replace() substitutes one word for another

c. Lengths

In [20]:
original_length = len(quote)
formatted_length = len(formatted_quote)

print(original_length)   # With spaces
print(formatted_length)  # After formatting

24
23